@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* :root{

} */
*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

img{
    max-width: 100%;
}

.card{
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
}

.card-header{
    height: 200px;
}

.card-header img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card-content {
    background: #202124;
    padding: 30px;
}

.card-title{
    color: #5f6368;
    height: 20px;
    margin: 0;
}

.card-excerpt{
    margin: 10px 0 20px;
}

.author{
    color:#5f6368;
    display: flex;
}

.profile-img{
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.author-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
    width: 100px;
}

.author-info small{
    color: #9aa0a6;
    margin-top: 5px;
}


.animated-bg{
    background-image: linear-gradient(to right, #d9d9d9 0%, #c7c7c7 10%, #d9d9d9 20%, #d9d9d9 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.animated-bg-text{
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
}

@keyframes bgPos{
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}