@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');

:root{
    --primary-color: #202020;
    --secondary-color: #FCDE9c;
    --accent-color: #C4D6B0;
    /* --alt-accent-color: #ffa552; */
}